body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
    align-items: center;
    margin: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: #1F2937;
}

.logo {
    border: 2px solid yellow;
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 200px;
    padding: 0;
}

.links{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 16px;
    border: 2px solid red;
    font-size: 18px;
    margin-right: 200px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
 ul {
    padding: 0;
    margin: 0;
 }

 .first-stripe{
    /*display: flex; */
    border: 2px solid red;
    background-color: #1F2937;
    padding-bottom: 50px;
    padding-top: 25px;  
 }

 .left-first{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex: 1;
   border: 5px solid brown;
   
  
   
 }

 .title-first{
    display: flex;
    border: 2px solid green;
    justify-content: flex-start;
    width: 350px;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
 }

 .text-first{
    display:flex;
    border: 2px solid yellow;
    justify-content: flex-start;
    width: 450px;
    margin: 10px 0;
    font-size: 18px;
    color:#E5E7EB;
    flex-wrap: wrap;
    
 }

 .order-first{
    display: flex;
    border: 2px solid purple;
    margin-left: 200px;
    margin-right: 200px;
 }

 .right-first{
    border: 2px solid black;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: gray;
    
 }

 .placeholder-first{
    border: 2px solid orange; 
    font-size: 18px;
    color: #E5E7EB;
 }

 .second-stripe {
   border: 2px solid red;
   padding-bottom: 25px;
   padding-top: 25px;
 }
 .title-second{
   border: 2px solid blue;
   display: flex;
   justify-content: center;
   padding: 16px;
   font-size: 36px;
   font-weight: 800;
   color: #1F2937;
 }

 .all-groups{
   display: flex;
   justify-content: center;
  
 }

 .square-second{
   border-radius: 25px;
   border: 2px solid #3882F6;
   padding: 20px;
   width: 150px;
   height: 150px;
   margin: 16px;
 }
  .group1, .group2, .group3, .group4 {
   display: flex;
   flex-direction: column;
   border: 2px solid orange; 
   justify-content: center;
   align-items: center;
   padding: 28px;
  }

  .text-second{
   display: flex;
   border: 2px solid green; 
   flex-wrap: wrap;
   width: 150px;
  }

  .third-stripe{
   border: 2px solid red;
   padding-bottom: 50px;
   padding-top: 50px; 
   background-color: #E5E7EB;
  }

  .quote{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   font-size: 36px;
   font-style: italic;
   color: #1F2937;
   border: 2px solid purple;
   margin-left: 200px;
   margin-right: 200px;
   padding-left: 175px;
   padding-right: 175px;
  }
  .source{
   display: flex;
   justify-content: flex-end;
   margin-left: 200px;
   margin-right: 200px;
   border: 2px solid yellow;
   padding-right: 175px;
   font-size: 36px;
   font-style: italic;
   color: #1F2937;
  }
 button {
   background-color: #3882F6;
   color: white;
   border-radius: 6px;
   padding-left: 10px;
   padding-right: 10px;
 }
 